# Build and Output Directories
build/
diagrams/
dist/
out/
*.pdf
*.epub
*.docx
*.html

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Temporary & Log Files
*.log
tmp/
temp/
node_modules/
